{% extends 'base_detail_list.html' %}
{#网页标题#}
{% block title %}
天天生鲜-商品列表
{% endblock %}
{# 列表页详情 #}
{% block detail_content %}
    <div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ type.name }}</a>
	</div>
	<div class="main_wrap clearfix">
        <!--新品推荐-->
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in new_skus %}
					<li>
						<a href="{% url 'goods:detail' type.id %}"><img src="/{{ goods.image }}"></a>
						<h4><a href="{% url 'goods:detail' type.id %}">{{ goods.name }}</a></h4>
						<div class="prize">￥{{ goods.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
        <!--列表页详情信息-->
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:list' type.id 1  %}" {% if sort == 'default' %}class="active"{% endif %}>默认</a>
				<a href="{% url 'goods:list' type.id 1  %}?sort=price" {% if sort == 'price' %}class="active"{% endif %}>价格</a>
				<a href="{% url 'goods:list' type.id 1  %}?sort=hot" {% if sort == 'hot' %}class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for sku in sku_page %}
				<li>
					<a href="{% url 'goods:detail' type.id %}"><img src="/{{ sku.image }}"></a>
					<h4><a href="{% url 'goods:detail' type.id %}">{{ sku.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ sku.price }}</span>
						<span class="unit">{{ sku.price }}/{{ sku.unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {# 显示上一页    #}
                {% if sku_page.has_previous %}
				<a href="{% url 'goods:list' type.id sku_page.previous_page_number %}"><上一页</a>
                {% endif %}
                {# 显示页码  #}
                {% for pindex in pages %}
                    {% if pindex == sku_page.number %}
                        <a href="{% url 'goods:list' type.id pindex %}?sort={{ sort }}" class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="{% url 'goods:list' type.id pindex %}?sort={{ sort }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {# 显示下一页    #}
				{% if sku_page.has_next %}
				<a href="{% url 'goods:list' type.id sku_page.next_page_number %}">下一页></a>
                {% endif %}
			</div>
		</div>
	    </div>
    </div>


 {% endblock %}

